
body{background-color:lightgray;
color:white;
margin:0px;
}

.main{background-color:darkgray;
float: bottom;
margin-top: 2%;
margin-bottom: 2%;
display: inline-block;
padding: 6px;
align-items: center;
justify-content: center;
}

.imgContainer{background-color:gray;
width: 200px;
box-sizing: border-box;
border: solid 10px var(--pGray1);
margin-top: 2%;
margin-bottom: 2%;
display: inline-block;
text-align: center;
border: 1pt solid black;
max-height: 100%;
max-width: 100%;
}
.imgParent {
height: auto;
max-width: 100%;
background: lightgray;
display: flex;
align-items: center;
justify-content: center;
margin-top: auto;
margin-bottom: auto;
margin: 5%;
color: black;
}

.imgParent a {
height: 50%;
width: 500%;
}

.border{
    border: solid 2px var(--pGray1);
    background: grey;
    margin: 6px 0 0 0;
}
.cim{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
